pygame==2.6.0
#for new games
#install pip
#sudo apt install python3-pip
#install venv
#python3 -m venv venv
#activate venv
#source venv/bin/activate
#install pygame version in requirements.txt
#pip install -r requirements.txt

#also git init + create .gitignore file
#create constants.py for player/window/game/etc variables
#make sure any bg files are in same folder as the file they run in